#ind{

    display: block;
    border: 3px solid black;
    width:65%;
    height: 40%;
    font-size: 1.7em;
    margin: 3% 0 0 10%;
    padding: 5% 5% 5% 5%;

    background: -moz-linear-gradient(top, #8c9270 20%, #9ea47c 60%, #b9bf95 95%);
    background: -webkit-linear-gradient(top, #8c9270 20%, #9ea47c 60%, #b9bf95 95%);
    background: linear-gradient(top, #8c9270 20%, #9ea47c 60%, #b9bf95 95%);
    font-family: Lobster;
}

#ind p{

    float:right;
}
