#useful_list{

//border: solid 1px black;
    margin: 0% 0 5% 10%;
    width: 85%;
    padding: 0 0 0 0;

}

#useful_list>ul{
    list-style-image: url(../images/NG/info_li/credits_logo.gif);
    width: 90%;
    margin:0 0 0 0;
}

#useful_list>ul>li{

    margin: 0% 0 0% 15%;
    font-size: 16pt;

}


#useful_list>ul>div{

    //border: solid 1px black;
    width: 99%;
    //height: 100%;
    margin: 1% 0 0% 0;
    display: none;


}


#div_numbers>img{
  width: 100%;
  height: auto;
}

/* Sink */
.hvr-sink {
    position: relative; top: -7px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);

}
.hvr-sink:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #a4b63c;
    box-shadow: 7px 8px 3px #888888;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sink:hover:before, .hvr-sink:focus:before, .hvr-sink:active:before {
    right: 0;
}




#up{

    float:right;
    opacity: 0.4;

}
#up:hover{
    cursor: pointer;
    opacity: 1;
}


#image_wr{

    //height: 100%;
    overflow:auto;
}
#image_cont{

    border: solid 5px #1b200f;
    border-radius: 8px;
    width: 85%;
    float:left;
    margin:15% 0 0 0;

}
#image_cont img{
    height: 100%;
    width: 100%;
}
#sq_p{
    margin:0 1% 0 0;
    width: 12%;
    float:right;
    background: #edffaa;
    border: solid 2px #1b200f;
    border-radius: 8px;
}
#sq_p p{

    cursor: pointer;
}


#div_law p a{

    text-decoration: none;
    color:gray;
    font-weight: bold;
}

#div_numbers p {

    text-decoration: none;
    color:gray;
    font-weight: bold;
}

.clicke{

    color:red;
}
.unclicke{

    color:black;
}
