{% include "base.html" %}


{% block navbar %}
<!--
<div id="slideshow">

    <div>
        <img src="{{ url_for('static', filename='images/cars/test/1.jpg') }}">
    </div>
    <div>
        <img src="{{ url_for('static', filename='images//cars/test/2.jpg') }}">
    </div>


</div>
-->
<div class="raw_naw">


    <div id="left_bord">

    </div>
    <div id="image_box">
        <img src="{{ url_for('static', filename='images/logo_arrows.jpg') }}" >
    </div>
    <div id="right_bord">

    </div>
</div>

<div id="menu_box">

    <button class="menu_first">О Компании</button>
    <button class="menu_but">Услуги</button>
    <button class="menu_but">Запрос</button>
    <button class="menu_but_two">География перевозок</button>
    <button class="menu_but_two">Полезная информация</button>
    <button class="menu_but">Контакты</button>

    <!--
    <ul id="menu_list">

        <li><button class="menu_but">О Компании</button></li>
        <li><button class="menu_but">Услуги</button></li>
        <li><button class="menu_but">Запрос</button></li>
        <li><button class="menu_but_two">География перевоок</button></li>
        <li><button class="menu_but_two">Полезная информация</button></li>
        <li><button class="menu_but_l">Контакты</button></li>

    </ul>

    -->
</div>

<div id="sl_but">
    <button id="sl_but_l"><</button>
    <div id="slides">

        <div>
            <img src="{{ url_for('static', filename='images/cars/test_3/1.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images//cars/test_3/2.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/cars/test_3/3.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/cars/test_3/4.jpg') }}" class="slide_im">
        </div>

    </div>
    <button id="sl_but_r"> ></button>
</div>

<div id="content">



    <!--<div class="first_nav">-->
    <!--<div class="im_div"><img src="{{ url_for('static', filename='images/logo.jpg') }}" ></div>-->
    <!--</div>-->



    <div id="infcontent">
        {% block page_content %}
        {% endblock %}
    </div>
</div>



<script>
    $("#slides > div:gt(0)").hide();

    setInterval(function() {
        $('#slides > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slides');
    },  3000);
</script>
{% endblock %}


