{% include "base.html" %}


{% block navbar %}
<!--
<div id="slideshow">

    <div>
        <img src="{{ url_for('static', filename='images/cars/test/1.jpg') }}">
    </div>
    <div>
        <img src="{{ url_for('static', filename='images//cars/test/2.jpg') }}">
    </div>


</div>
-->
<div class="navbar">

    <!--<div class="first_nav">-->
        <!--<div class="im_div"><img src="{{ url_for('static', filename='images/logo.jpg') }}" ></div>-->


    <!--</div>-->
    <div class="second_nav">
        <div class="im_div"><img src="{{ url_for('static', filename='images/logo.jpg') }}" ></div>
        <ul class="menu" id="menu_list">

            <li><button class="hvr-grow">О Компании</button></li>
            <li><button class="hvr-grow">Услуги</button></li>
            <li><button class="hvr-grow">Запрос</button></li>
            <li><button class="hvr-grow">География перевоок</button></li>
            <li><button class="hvr-grow">Полезная информация</button></li>
            <li><button class="hvr-grow">Контакты</button></li>

        </ul>
    </div>

</div>
<script>
    $("#slideshow > div:gt(0)").hide();

    setInterval(function() {
        $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
    },  3000);
</script>
{% endblock %}

<div class="content">
    {% block page_content %}
    {% endblock %}
</div>