<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Logistic LTD</title>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/queryform.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/info.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/index.css') }}">

    <!-- scripts -->
    <script type="text/javascript" src="{{url_for('static', filename='scripts/jquery-2.1.3.js')}}"></script>

</head>
    <body>

    <div id="wrapper">
        <div id="slidebox">

            <a href="/ru" id="imRef"><img id="logo" src="{{ url_for('static', filename='images/NG/logos/logo.gif') }}"></a>

            <div id="info">
                <div id="languages">
                    <p>
                        <a id="eng" href="/change_lang?lang=en&cur={{ request.path }}"><img src="{{ url_for('static', filename='images/NG/languages/eng.gif') }}"></a>
                        <a href="/change_lang?lang=ru&cur={{ request.path }}"><img  src="{{ url_for('static', filename='images/NG/languages/rus.gif') }}"></a>
                        <a href="/change_lang?lang=ua&cur={{ request.path }}"><img  src="{{ url_for('static', filename='images/NG/languages/ukr.gif') }}"></a>
                    </p>
                </div>
                <div id="contact">

                    <img src="{{ url_for('static', filename='images/NG/contact/phone.png') }}">
                    <p>(098) 123 45 67</p>
                </div>
            </div>

            <div id="slidebuttons">
                <input type="radio" id="rad1" name="slrad"/>
                <label for="rad1"></label>
                <input type="radio" id="rad2" name="slrad"/>
                <label for="rad2"></label>
                <input type="radio" id="rad3" name="slrad"/>
                <label for="rad3"></label>
                <input type="radio" id="rad4" name="slrad"/>
                <label for="rad4"></label>
                <input type="radio" id="rad5" name="slrad"/>
                <label for="rad5"></label>

            </div>
        </div>
        <div id="menubox">
            <a id="but1" href="{{request.url_root}}{{lang_code}}/about">
                {% if lang_code == "ru" %}О Компании {% endif %}
                {% if lang_code == "ua" %}Про Компанію {% endif %}
                {% if lang_code == "en" %}About{% endif %}
            </a>
            {% set langlist = request.path.split('/') %}
            <a id="but2" href="{{request.url_root}}{{lang_code}}/services">

                {% if lang_code == "ru" %}Услуги {% endif %}
                {% if lang_code == "ua" %}Послуги{% endif %}
                {% if lang_code == "en" %}Services{% endif %}
            </a>
            <a id="but3" href="{{request.url_root}}{{lang_code}}/querypage">

                {% if lang_code == "ru" %}Запрос {% endif %}
                {% if lang_code == "ua" %}Запит{% endif %}
                {% if lang_code == "en" %}Query{% endif %}
            </a>
            <a id="but4" href="{{request.url_root}}{{lang_code}}/geography">

                {% if lang_code == "ru" %}География перевозок {% endif %}
                {% if lang_code == "ua" %}Географія перевезень{% endif %}
                {% if lang_code == "en" %}Geography{% endif %}
            </a>
            <a id="but5" href="{{request.url_root}}{{lang_code}}/info">

                {% if lang_code == "ru" %}Полезная информация {% endif %}
                {% if lang_code == "ua" %}Корисна інформація {% endif %}
                {% if lang_code == "en" %}Information{% endif %}
            </a>
            <a id="but6" href="{{request.url_root}}{{lang_code}}/contact">

                {% if lang_code == "ru" %}Контакты {% endif %}
                {% if lang_code == "ua" %}Контакти{% endif %}
                {% if lang_code == "en" %}Contacts{% endif %}
            </a>
            <!--
            <button id="but1" >О Компании</button>
            <button id="but2">Услуги</button>
            <button id="but3">Запрос</button>
            <button id="but4">География перевозок</button>
            <button id="but5">Полезная информация</button>
            <button id="but6">Контакты</button>
            -->
        </div>
        <div id="content">

            {% block page_content %}
            {% endblock %}
        </div>
        <div id="footer">

            <!--<img src="{{ url_for('static', filename='images/NG/logos/logo (copy).gif') }}" id="credits_logo">-->
            <div id="credits_cont">
                <p><b> ООО «Логистик Лайн» |</b>
                {% if lang_code == "ru" %}
                    <b>Юридический адрес:</b> Г.Киев, ул. Каштанова, д. 8Б, Офис 2 |
                    <b>Фактический адрес:</b> 3 03113, Г. Киев ул. Дегтяревская 53А, Офис 201,</p>
                {% endif %}
                {% if lang_code == "ua" %}
                    <b>Юридична адреса:</b> М.Київ, вул. Каштанова, б. 8Б, Офіс 2 |
                    <b>Фактична адрес:</b> 3 03113, М. Київ вул. Дегтярівська 53А, Офіс 201,</p>
                {% endif %}
                {% if lang_code == "en" %}
                    <b>The legal address:</b> Г.Киев, ул. Каштанова, д. 8Б, Офис 2 |
                    <b>Фактический адрес:</b> 3 03113, Г. Киев ул. Дегтяревская 53А, Офис 201,</p>
                {% endif %}

            </div>
            <!--<img src="{{ url_for('static', filename='images/credits_small_logo.jpg') }}" id="credits_logo_r">-->


        </div>
    </div>
    <script>
        $(document).ready(function(){

            $('#rad1').prop('checked', true);


        });

        var it = 1;

        $("#slidebuttons>input[type=\"radio\"]").click(function(event){

            it=parseInt(this.id[this.id.length-1]);
            $('#rad'+it).prop('checked', true);
            $('#slidebox').css('background-image','url(../static/images/NG/slides/'+it+'.jpg)');
        });

        setInterval(function(){
            if (it == 5) {
                it = 0;
            };
            it = it + 1;
            $('#rad'+it).prop('checked', true);
            /*
            $('#slidebox').animate({
                opacity: '0.5'
            });
            */
            $('#slidebox').css('background-image','url(../static/images/NG/slides/'+it+'.jpg)');
            /*
            $('#slidebox').animate({
                opacity: '0'
            });

            $( "#slidebox" ).animate({
                opacity: 0.25,
                left: "+=50",
                height: "toggle"
            }, 5000, function() {
                // Animation complete.
            });
            */


        }, 3000);

    /*
    $('#eng').click(function(event){
        var pathArray = window.location.pathname

        //alert(pathArray);

        $.post("/change_lang",function() {

            });

    });
    */
    </script>
    </body>

</html>


