{% extends "index.html" %}


{% block page_content %}
<div id="con">
    <ul>
        <li><p><img src="{{ url_for('static', filename='images/NG/contact/phone.png') }}">(067) 322 01 76</p></li>
        <li><p><img src="{{ url_for('static', filename='images/NG/contact/phone.png') }}">(067) 322 02 07</p></li>
        <li><p><img src="{{ url_for('static', filename='images/NG/SkypeLogo.png') }}">Skype: </p></li>
        <li><p><img src="{{ url_for('static', filename='images/NG/email.png') }}">email: logisticline.ltd@gamil.com</p></li>
    </ul>
</div>
<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "notClicked" );
        $('#but5').addClass( "notClicked" );
        $('#but6').addClass( "clicked" );


    });
</script>
{% endblock %}