{% extends "index.html" %}


{% block page_content %}
<div>

    <p>Международные перевозки автомобильным транспортом — это одно из ответственных направлений нашей деятельности.</p>
    <p>Мы осуществляем автомобильные международные грузоперевозки (рейсы) в (из)  страны Европы, Прибалтики, СНГ, Азии.
    Стоимость каждой перевозки рассчитывается индивидуально, учитывая характеристики Вашего груза, но всегда на взаимовыгодных условиях.</p>

</div>
<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "clicked" );
        $('#but5').addClass( "notClicked" );
        $('#but6').addClass( "notClicked" );

        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
</script>

{% endblock %}