{% extends "base.html" %}


{% block page_content %}

<div id="ind">

    «Три вещи делают нацию великой и благоденствующей:
    плодоносная почва, деятельная промышленность и легкость
    передвижения людей и товаров»
    <p>Фрэнсис Бэкон</p>

</div>


<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "notClicked" );
        $('#but5').addClass( "notClicked" );
        $('#but6').addClass( "notClicked" );


    });
</script>
{% endblock %}