{% extends "base.html" %}


{% block page_content %}

<div id="testC">

<div>
    Недотрога, тихоня в быту,
    Ты сейчас вся огонь, вся горенье,
    Дай запру я твою красоту
    В темном тереме стихотворенья.
</div>
    <div>
    Посмотри, как преображена
    Огневой кожурой абажура
    Конура, край стены, край окна,
    Наши тени и наши фигуры.
</div>
    <div>
    Ты с ногами сидишь на тахте,
    Под себя их поджав по-турецки.
    Все равно, на свету, в темноте,
    Ты всегда рассуждаешь по-детски.
</div>
    <div>
    Замечтавшись, ты нижешь на шнур
    Горсть на платье скатившихся бусин.
    Слишком грустен твой вид, чересчур
    Разговор твой прямой безыскусен.
</div>
    <div>
    Пошло слово любовь, ты права.
    Я придумаю кличку иную.
    Для тебя я весь мир, все слова,
    Если хочешь, переименую.
</div>
    <div>
    Разве хмурый твой вид передаст
    Чувств твоих рудоносную залежь,
    Сердца тайно светящийся пласт?
    Ну так что же глаза ты печалишь?
</div>


</div>


<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "notClicked" );
        $('#but5').addClass( "notClicked" );
        $('#but6').addClass( "notClicked" );


    });
</script>
{% endblock %}