{% extends "skel_2.html" %}


{% block page_content %}

<div id="sl_but">
    <!--<button id="sl_but_l"><</button>-->
    <div id="slides">

        <div>
            <img src="{{ url_for('static', filename='images/slideshow/1.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/slideshow/2.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/slideshow/3.jpg') }}" class="slide_im">
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/cars/test_3/3.jpg') }}" class="slide_im">
        </div>


    </div>
    <!--<button id="sl_but_r"> ></button>-->
</div>

{% endblock %}