{% extends "index.html" %}


{% block page_content %}

<div id="useful_list">
    <ul>
        <li id="law">

            <!--<img src="{{ url_for('static', filename='images/NG/info_li/credits_logo.gif') }}">-->
            <span class="hvr-sink" >
                {% if lang_code == "ru" %} Законодательство {% endif %}
                {% if lang_code == "ua" %} Законодавство {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>

        <div id="div_law"></div>
        <li id="numbers">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Номерные знаки {% endif %}
                {% if lang_code == "ua" %} Номерні знаки {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_numbers">


            <img src="{{ url_for('static', filename='images/NG/info_li/number.jpg') }}" width="100%">
            <p>Номерные знаки Украины по областям:</p>

            <p>АА — Киев</p>
            <p>АВ — Винницкая область</p>
            <p>АЕ — Днепропетровская область</p>
            <p>АI — Киевская область</p>
            <p>АК — Крым</p>


            <p>АМ — Житомирская область</p>
            <p>АН — Донецкая область</p>
            <p>АО — Закарпатская область</p>
            <p>АР — Запорожская область</p>
            <p>АС — Волынская область</p>
            <p>АТ — Ивано-Франковская область</p>
            <p>АХ — Харьковская область</p>
            <p>ВА — Кировоградская область</p>
            <p>ВВ — Луганская область</p>
            <p>ВЕ — Николаевская область</p>
            <p>ВI — Полтавская область</p>
            <p>ВМ — Сумская область</p>
            <p>ВН — Одесская область</p>
            <p>ВО — Тернопольская область</p>
            <p>ВС — Львовская область</p>
            <p>ВТ — Херсонская область</p>
            <p>ВХ — Хмельницкая область</p>
            <p>СА — Черкасская область</p>
            <p>СВ — Черниговская область</p>
            <p>СЕ — Черновицкая область</p>
            <p>СН — Севастополь</p>

        </div>
        <li id="docs">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Документы для перевозки {% endif %}
                {% if lang_code == "ua" %} Документи для перевезення {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_docs">
            {% if lang_code == "ru" %}
            При перевозке грузов общего назначения необходимы такие документы:

            v     путевой лист,
            v     товарно-транспортная накладная на перевозимый груз.
            v     при перевозке скоропортящихся грузов

            лист контрольных проверок температуры груза и воздуха в кузове автомобиля,
            сертификат  качества продукции,
            карантинный сертификат,
            ветеринарное свидетельство;
            v     при перевозке ADR грузов:

            свидетельство о допуске водителя к перевозкам опасных грузов;
            специальное разрешение на перевозку негабаритного груза.
            Как правило, ТТН выписывается в четырех экземплярах.

            Первый экземпляр остается у грузоотправителя и предназначен для списания ТМЦ со склада. Все нарушения упаковки, размещения и крепления груза в кузове, фиксируются, заносятся водителем в ТТН и заверяются грузоотправителем. Что является юридическим основанием для предъявления претензий к грузоотправителю, и снимают ответственность с перевозчика за возможные повреждения в процессе транспортировки.
            Второй, третий и четвертый экземпляры заверяются подписями и печатями (штампами) грузоотправителя, подписью водителя и вручаются водителю.

            Второй экземпляр сдается водителем грузополучателю для оприходования ТМЦ. В случае несоответствия фактического наличия товаров или отклонения по качеству, установленному в договоре, данным, указанным в сопроводительных документах, должен составляться акт, который является юридическим основанием для предъявления претензий поставщику. В ТТН следует сделать отметку о составлении акта.

            Третий и четвертый экземпляры, заверяемые подписями и печатями (штампами) грузополучателя, сдаются в бухгалтерию транспортной организации.

            Третий экземпляр, служащий основанием для расчета платы за перевозку, транспортная организация прилагает к счету за перевозку и высылает плательщику-заказчику.

            Четвертый экземпляр прилагается к путевому листу и служит основанием для учета транспортной работы и начисления заработной платы водителю.
            {% endif %}
        </div>
        <li id="inko">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Инкотермс 2010 {% endif %}
                {% if lang_code == "ua" %} Інтерком 2010 {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_inko">

        </div>
        <li id="map">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Карты стран (квадраты) {% endif %}
                {% if lang_code == "ua" %} Карти країн {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_map"></div>
        <li id="class">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Класс опасности () групповой{% endif %}
                {% if lang_code == "ua" %} Клас небезпеки {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_class">
          <p>1 класс</p>

          <p>Взрывчатые вещества и изделия (класс опасности 1, АДР-1, ADR-1)</p>
          <table>
            <tr>
              <td>...</td>
              <td>1</td>
              <td>Взрывчатые материалы, которые по своим свойствам могут
                взрываться, вызывать пожар с взрывчатым действием, а также
                устройства, содержащие взрывчатые вещества и средства взрывания,
                 предназначенные для производства пиротехнического эффекта.
               </td>
            </tr>
            <tr>
              <td></td>
              <td>1.1</td>
              <td>Вещества и изделия, которые характеризуются опасностью взрыва
                массой (взрыв массой - это такой взрыв, который практически
                мгновенно распространяется на весь груз).
              </td>
            </tr>
            <tr>
              <td></td>
              <td>1.2</td>
              <td>Вещества и изделия, которые характеризуются опасностью
                разбрасывания, но не создают опасности взрыва массой.</td>
            </tr>
            <tr>
              <td></td>
              <td>1.3</td>
              <td>Вещества и изделия, которые характеризуются пожарной
                опасностью, а также либо незначительной опасностью взрыва,
                либо незначительной опасностью разб
                расывания, либо тем и другим, но не характеризуются опасностью
                 взрыва массой: а) которые при горении выделяют значительное
                  количество лучистого тепла, или b) которые, загораясь одно за
                   другим, характеризуются незначительным взрывчатым эффектом
                   или разбрасыванием либо тем и другим.
                 </td>
            </tr>
            <tr>
              <td></td>
              <td>1.4</td>
              <td>Вещества и изделия, представляющие лишь незначительную
                 опасность взрыва в случае воспламенения или инициирования
                 при перевозке. Эффекты проявляются в основном внутри упаковки,
                 при этом не ожидается выброса осколков значительных размеров
                 или на значительное расстояние. Внешний пожар не должен служить
                 причиной практически мгновенного взрыва почти всего содержимого
                  упаковки.
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                Вещества очень низкой чувствительности, которые характеризуются
                опасностью взрыва массой, но обладают настолько низкой
                чувствительностью, что существует очень малая вероятность
                их инициирования или перехода от горения к детонации при
                нормальных условиях перевозки. В соответствии с минимальным
                требованием, предъявляемым к этим веществам, они не должны
                 взрываться при испытании на огнестойкость.

              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
              Изделия чрезвычайно низкой чувствительности, которые не
              характеризуются опасностью взрыва массой. Эти изделия содержат
              только крайне нечувствительные к детонации вещества и характеризуются
              ничтожной вероятностью случайного инициирования или распространения взрыва.
              </td>
            </tr>
          </table>

          <p>2 класс</p>
          <p>Газы (класс опасности 2, АДР-2, ADR-2)</p>
          <table>
            <tr>
              <td>
              </td>
              <td>
                2
              </td>
              <td>
                Газы, к которым относятся чистые газы, смеси газов, смеси
                одного или нескольких газов с одним или несколькими другими
                веществами и изделия, содержащие такие вещества. Газом является
                 вещество, которое: а) при температуре 50°С имеет давление пара
                 более 300 кПа (3 бара); или b) является полностью газообразным
                  при температуре 20°С и нормальном давлении 101,3 кПа.

              </td>

          </tr>


        <tr>
          <td>
          </td>
          <td>
              2.1
          </td>
          <td>
            Невоспламеняющиеся газы.
          </td>
        </tr>

          <tr>
              <td>
              </td>
              <td>
                  2.2
              </td>
              <td>
                  Невоспламеняющиеся ядовитые газы.

              </td>
          </tr>
          <tr>
              <td>
              </td>
              <td>
                  2.3
              </td>
              <td>
                  Легковоспламеняющиеся газы.
              </td>
          </tr>
      <tr>
          <td>
          </td>
          <td>
              2.4
          </td>
          <td>
              Легковоспламеняющиеся ядовитые газы.
          </td>
      </tr>
          <tr>
              <td>
              </td>
              <td>
                  2.5
              </td>
              <td>
                  Химически неустойчивые.
              </td>
          </tr>
          <tr>
              <td>
              </td>

              <td>
                  2.6
              </td>
              <td>
                  Химически неустойчивые ядовитые.
              </td>
          </tr>

          </table>

        </div>
        <li id="zog">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Пограничные переходы {% endif %}
                {% if lang_code == "ua" %} Законодательство {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_zog"></div>
        <li id="trans">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Транспортная тара {% endif %}
                {% if lang_code == "ua" %} Трансортна тара {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_trans"></div>
        <li id="regim">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Режим крепления {% endif %}
                {% if lang_code == "ua" %} Режим кріплення {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_regim">

        </div>


    </ul>

    <a id="up"><img src="{{ url_for('static', filename='images/NG/info_li/up.gif') }}"></a>
</div>


<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "notClicked" );
        $('#but5').addClass( "clicked" );
        $('#but6').addClass( "notClicked" );

    });

    $('#law').click(function(event){

        $('#div_law').toggle( "blind" );

    });
    $('#numbers').click(function(event){

        $('#div_numbers').toggle( "blind" );

    });
    $('#docs').click(function(event){

        $('#div_docs').toggle( "blind" );

    });


    $('#inko').click(function(event){

        $('#div_inko').toggle( "blind" );

    });

    $('#map').click(function(event){

        $('#div_map').toggle( "blind" );

    });

    $('#class').click(function(event){

        $('#div_class').toggle( "blind" );

    });

    $('#zog').click(function(event){

        $('#div_zog').toggle( "blind" );

    });

    $('#trans').click(function(event){

        $('#div_trans').toggle( "blind" );

    });

    $('#regim').click(function(event){

        $('#div_regim').toggle( "blind" );

    });

    $('#up').click(function(event){
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
</script>
{% endblock %}
