{% extends "index.html" %}


{% block page_content %}

<div id="useful_list">
    <ul>
        <li id="law">

            <!--<img src="{{ url_for('static', filename='images/NG/info_li/credits_logo.gif') }}">-->
            <span class="hvr-sink" >
                {% if lang_code == "ru" %} Законодательство {% endif %}
                {% if lang_code == "ua" %} Законодавство {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>

        <div id="div_law"></div>
        <li id="numbers">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Номерные знаки {% endif %}
                {% if lang_code == "ua" %} Номерні знаки {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_numbers"></div>
        <li id="docs">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Документы для перевозки {% endif %}
                {% if lang_code == "ua" %} Документи для перевезення {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_docs">
            {% if lang_code == "ru" %}
            При перевозке грузов общего назначения необходимы такие документы:

            v     путевой лист,
            v     товарно-транспортная накладная на перевозимый груз.
            v     при перевозке скоропортящихся грузов

            лист контрольных проверок температуры груза и воздуха в кузове автомобиля,
            сертификат  качества продукции,
            карантинный сертификат,
            ветеринарное свидетельство;
            v     при перевозке ADR грузов:

            свидетельство о допуске водителя к перевозкам опасных грузов;
            специальное разрешение на перевозку негабаритного груза.
            Как правило, ТТН выписывается в четырех экземплярах.

            Первый экземпляр остается у грузоотправителя и предназначен для списания ТМЦ со склада. Все нарушения упаковки, размещения и крепления груза в кузове, фиксируются, заносятся водителем в ТТН и заверяются грузоотправителем. Что является юридическим основанием для предъявления претензий к грузоотправителю, и снимают ответственность с перевозчика за возможные повреждения в процессе транспортировки.
            Второй, третий и четвертый экземпляры заверяются подписями и печатями (штампами) грузоотправителя, подписью водителя и вручаются водителю.

            Второй экземпляр сдается водителем грузополучателю для оприходования ТМЦ. В случае несоответствия фактического наличия товаров или отклонения по качеству, установленному в договоре, данным, указанным в сопроводительных документах, должен составляться акт, который является юридическим основанием для предъявления претензий поставщику. В ТТН следует сделать отметку о составлении акта.

            Третий и четвертый экземпляры, заверяемые подписями и печатями (штампами) грузополучателя, сдаются в бухгалтерию транспортной организации.

            Третий экземпляр, служащий основанием для расчета платы за перевозку, транспортная организация прилагает к счету за перевозку и высылает плательщику-заказчику.

            Четвертый экземпляр прилагается к путевому листу и служит основанием для учета транспортной работы и начисления заработной платы водителю.
            {% endif %}
        </div>
        <li id="inko">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Инкотермс 2010 {% endif %}
                {% if lang_code == "ua" %} Інтерком 2010 {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_inko">

        </div>
        <li id="map">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Карты стран (квадраты) {% endif %}
                {% if lang_code == "ua" %} Карти країн {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_map"></div>
        <li id="class">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Класс опасности () групповой{% endif %}
                {% if lang_code == "ua" %} Клас небезпеки {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_class"></div>
        <li id="zog">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Пограничные переходы {% endif %}
                {% if lang_code == "ua" %} Законодательство {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_zog"></div>
        <li id="trans">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Транспортная тара {% endif %}
                {% if lang_code == "ua" %} Трансортна тара {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_trans"></div>
        <li id="regim">
            <span class="hvr-sink">
                {% if lang_code == "ru" %} Режим крепления {% endif %}
                {% if lang_code == "ua" %} Режим кріплення {% endif %}
                {% if lang_code == "en" %} Законодательство {% endif %}
            </span>
        </li>
        <div id="div_regim">

        </div>


    </ul>

    <a id="up"><img src="{{ url_for('static', filename='images/NG/info_li/up.gif') }}"></a>
</div>


<script>
    $(document).ready(function(){

        $('#but1').addClass( "notClicked" );
        $('#but2').addClass( "notClicked" );
        $('#but3').addClass( "notClicked" );
        $('#but4').addClass( "notClicked" );
        $('#but5').addClass( "clicked" );
        $('#but6').addClass( "notClicked" );

    });

    $('#law').click(function(event){

        $('#div_law').toggle( "blind" );

    });
    $('#numbers').click(function(event){

        $('#div_numbers').toggle( "blind" );

    });
    $('#docs').click(function(event){

        $('#div_docs').toggle( "blind" );

    });


    $('#inko').click(function(event){

        $('#div_inko').toggle( "blind" );

    });

    $('#map').click(function(event){

        $('#div_map').toggle( "blind" );

    });

    $('#class').click(function(event){

        $('#div_class').toggle( "blind" );

    });

    $('#zog').click(function(event){

        $('#div_zog').toggle( "blind" );

    });

    $('#trans').click(function(event){

        $('#div_trans').toggle( "blind" );

    });

    $('#regim').click(function(event){

        $('#div_regim').toggle( "blind" );

    });

    $('#up').click(function(event){
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
</script>
{% endblock %}